{
	box-sizing: border-box;
	margin:0;
	padding: 0;
}


/****** COLOUR VARIABLES******/

:root
{
	--primary:#10375C;
	--secondary:#127681;
	--tertiary:#F3C623;
	--quaternary:#E5E5E5;
	--quinary:#FFBD69;
	--senary:#F4F6FF;
	--septenary:#05294B;
}



/****** FONT VARIABLES******/
@font-face
 {
    font-family: primary-font;
	src:url('../font/Mulish-ExtraBold.ttf');
 }

 @font-face
 {
    font-family: secondary-font;
	src:url('../font/Lato-Bold.ttf');
 }


 /****** PADDING VARIABLES******/
 .pt-40
 {
 	padding-top: 40px;
 }

 .pt-60
 {
 	padding-top: 60px;
 }

 .pt-90
 {
 	padding-top: 90px;
 }

 .pb-40
 {
 	padding-bottom: 40px;
 }

 .pb-60
 {
 	padding-bottom: 60px;
 }

 .pb-90
 {
 	padding-bottom: 90px;
 }

/****** PADDING VARIABLES******/

